@page
@model enterprisedevproj.Pages.Errors._400Model
@{
    ViewData["Title"] = "400 Bad Request: Syntax error";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>400 Error: Syntax error</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>