@page
@model enterprisedevproj.Pages.Errors._403Model
@{
    ViewData["Title"] = "403 Forbidden: Server refuses your access to that resource";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>403 Forbidden: Server refuses your access to that resource</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>