@page
@model enterprisedevproj.Pages.Errors._405Model
@{
    ViewData["Title"] = "405 Method Not Allowed: Website Request not allowed";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>405 Method Not Allowed: Website Request not allowed</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>