@page
@model enterprisedevproj.Pages.Errors._406Model
@{
    ViewData["Title"] = "406 Not Acceptable";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>406 Not Acceptable</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>