@page
@model enterprisedevproj.Pages.Errors._408Model
@{
    ViewData["Title"] = "408 Request Timeout: Log in again";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>406 Request Timeout: Log in again</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>