@page
@model enterprisedevproj.Pages.Errors._413Model
@{
    ViewData["Title"] = "413 Request Entity Too Large: Web Request was too large";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>413 Request Entity Too Large: Web Request was too large</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>