@page
@model enterprisedevproj.Pages.Errors._414Model
@{
    ViewData["Title"] = "414 Request URI Too Long: Something went wrong when we processed that URI for you";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>414 Request URI Too Long: SOmething went wrong when we processed that URI for you</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>