@page
@model enterprisedevproj.Pages.Errors._500Model
@{
    ViewData["Title"] = "500 Internal Server Error: Something went wrong on our side";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>500 Internal Server Error: Something went wrong on our side</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>