@page
@model enterprisedevproj.Pages.Errors._502Model
@{
    ViewData["Title"] = "502 Bad Gateway: Connection failed";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>502 Bad Gateway Connection failed</h1>
<h3>Check connection and/or firewall and see if it is working</h3>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>