@page
@model enterprisedevproj.Pages.Errors._504Model
@{
    ViewData["Title"] = "504 Gateway Timeout: Took too long for connection to be successful";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>504 Gateway Timeout: Took too long for connection to be successful</h1>
<h3>Check connection and/or firewall and see if it is working</h3>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>
