@page
@model enterprisedevproj.Pages.Errors.AccessDeniedModel
@{      ViewData["Title"] = "Access Denied";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>Access Denied</h1>
<p>Sorry, you dont have access to this page<br />We will redirect you back to home page in 5 seconds</p>