@page
@model enterprisedevproj.Pages.Errors.IDMissingModel
@{
    ViewData["Title"] = "ID Missing";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}
<h1>Whoa there</h1>
<p>The page you are trying to access requires an ID in its link <br/> We'll put you back to the home page in 5 seconds.</p>