@page
@model enterprisedevproj.Pages.Errors.ItemMissingModel
@{
    ViewData["Title"] = "Item ID invalid or Item is missing";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>Item ID invalid or Item is missing</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>