@page
@model enterprisedevproj.Pages.Errors.UpdateFailedModel
@{
    ViewData["Title"] = "Update failed";
}
@section metatags {
    <meta http-equiv="refresh" content="5; URL=/">
}

<h1>Updating Failed</h1>
<p>Sorry about that<br />We will redirect you back to home page in 5 seconds</p>