@page
@model enterprisedevproj.Pages.Errors.WrongIDModel
@{
}
<h1>Wrong ID</h1>
<h4>You are in this page because you or the server used the wrong type of ID in the wrong page.<br /><a href="#">Back to home page</a></h4>