@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="jumbotron">
    <h1 class="display-4">Resurface, thrive beyond the surface</h1>
    <p class="lead">Out of 703 million elderly globally, 77% of them are into technology, and rarely suffer from retirement.</p>
    <hr class="my-4">
    <p>Browse through our catalog of hobbies and interests, and pick up a new skill</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" asp-page="/Discover">Discover</a>
    </p>
    <p>...or if you want to attend an event, look through our events that we host almost everyday</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" asp-page="/Events/Main">Events</a>
    </p>
</div>