@page
@model enterprisedevproj.Pages.UpcomingModel
@{
    ViewData["Title"] = "Upcoming";
}
<h2>Upcoming page will be coming soon!</h2>
<p>We're working hard on making things work in the inside first.</p>